{% extends "layouts/module_admin.html" %}
{% from "macros/code_editor.html" import render_editor %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Keenetic">{{ _('Keenetic')}}</a></li>
<li class="breadcrumb-item">{{router.title}}</li>
{% endblock %}
{% block module %}
<h3>{{ router.title }}</h3>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>{{ _('Title')}}</th>
                <th>IP</th>
                <th>MAC</th>
                <th>{{ _('Online')}}</th>
                <th>{{ _('Linked object')}}</th>
                <th>{{ _('Updated')}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td class="py-1">{{ device.title }}</td>
                <td class="py-1">{{ device.ip }}</td>
                <td class="py-1">{{ device.mac }}</td>
                <td class="py-1">                    
                  {%if device.online%}
                  <span class="badge bg-success">{{ _('Online')}}</span>
                  {%else%}
                  <span class="badge bg-danger">{{ _('Offline')}}</span>
                  {%endif%}
                </td>
                <td class="py-1">{{ device.linked_object }}</td>
                <td class="py-1" id="dev{{router.id}}_updated">
                    {{device.updated}}
                </td>
                <td  class="py-1" width="1%" nowrap>
                    <div>
                        <a href="?op=edit&device={{device.id}}" class="btn btn-secondary" title="{{ _('Edit')}}"><i class="feather icon-edit"></i></a>
                        <a href="?op=delete&device={{device.id}}" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="{{ _('Delete')}}"><i class="feather icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}